.image {
    z-index: -1;
    object-fit: cover;
    max-height: 500px;
}

.newsColumn {
    float: left;
    width: 31%;
    padding: 1vw;
    height: 300px;
    box-sizing: border-box;

    border: solid;
    border-width: 2px;
    border-color: #f2f2f2;


    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 20px;

}

.newsRow {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;

}

/* Clear floats after the columns */
.newsRow:after {
    content: "";
    display: table;
    clear: both;
    box-sizing: border-box;

}


.image {
    z-index: -1;
    object-fit: cover;
    max-height: 500px;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
    .newsColumn {
        width: 97%;
    }
}