/* CSS */

/* The astrisk selects all CSS elements */

#CrescentTitle {
color: white;
}


p {
font-size: 30px;
font-family: 'Roboto';
margin-left: 50px;
margin-right: 50px;
text-align: center;
}

span {
white-space: nowrap;
font-size: 20px;
font-family: 'Orbitron', sans-serif;
}

h1 {
font-size: 50px;
font-family: 'Bebas Neue';
font-weight:normal;
text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 50px;
font-family: 'Bebas Neue';
font-weight:normal;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}


li a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#digital-clock {
  font-family: 'Orbitron', sans-serif;
  display: inline;
  font-size:20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover { 
  text-decoration: none; 
  color:yellow; 
  text-decoration: underline;
}
a:focus { 
  text-decoration: none;
  color:orange;
  text-decoration: underline; 
}
a:active { 
  text-decoration: none; 
  color:teal; 
  text-decoration: underline;
}
  

.inline{
    display: inline;
}

#beforetext{
padding-left: 30px;
}

#top{
}

html,body {
    margin:0;
    padding:0;
    overflow-x: hidden;
}

footer {
    font-size: 40px;
      list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 50px;
font-family: 'Bebas Neue';
font-weight:normal;
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
}