/* CSS */

/* The astrisk selects all CSS elements */

#CrescentTitle {
color: white;
}

header {
    font-size: 40px;
}
h1 {
font-size: 40px;
}

p {
font-size: 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
font-size: 50px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    font-size: 20px;
}

footer {
    font-size: 20px;
}
